<div class="content_my">	
	<br />  <h1>Приглашаем Вас отдохнуть в Орловке (Севастополь)!</h1>
	<img class="box_shadow_img" src="img/kacha5.png" width="200"  height="150" align="left" style="margin-right: 5px;"/>
	Дача на берегу моря, три однокомнатных номера на 2-х или 3-х человек.<br/>
	В номере душ, горячая и холодная вода, туалет, телевизор, спутниковое телевидение.
	Общая кухня для приготовления пищи на первом этаже, отдельная кухня на втором этаже.
	Парковка для авто.
	<img class="box_shadow_img" src="img/kacha1_200x150.png" width="200"  height="150" align="right" />
	Беседки, мангал, детская площадка. Транспортное сообщение с Севастополем маршрутным автобусом.
	Рядом находится  база отдыха «Звездный берег», где проходят выступления звезд украинской и российской эстрады. 
	<br>Расстояние до благоустроенного  песочного пляжа  Орловка  700 метров 
	длина пляжа 3км,  ширина 200м, песочное дно с мелкой галькой. Пляж убирается. 
	Идеален для отдыха с детьми. Всегда есть свободные места. Пляж бесплатный. 
	На пляже есть рынок, аптека массажные салоны, магазины, прокат инвентаря,
	<img class="box_shadow_img" src="img/kacha3_200x150.png" width="200"  height="150" align="right"/> 
	бары, рестораны, тир, настольный теннис, аттракционы, водные горки, водные велосипеды.
	До пляжа в поселке Кача  2 км, до диких пляжей 300метров.
	При желании , организуем поездки-экскурсии в Севастополь, Херсонес, Панораму, Диораму, Аквариум, дельфинарий,
	аквапарк,  Бахчисарай Ханский дворец, мраморные  пещеры, Ялту зоопарк Сказка,   Никитский ботанический сад, Воронцовский дворец,
	Балаклаву восхождение к крепости Чембало, экскурсию в подземный завод-музей.
	Возможен выход в море на катере, купание в открытом море и  рыбалка в Балаклаве.
	При необходимости трансфер с поезда.<br>
	Звоните, с удовольствием ответим на Ваши вопросы.
	<h3>Контактные телефоны:<br>
	+38 050 5282599 Владислав<br>
	+38 068 4783551 Татьяна</h3>
</div>				
		