<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>
<div id="page">
	<div id="container">
	
	<!-- Start Advanced Gallery Html Containers -->
	<div id="gallery" class="content">
		<div id="controls" class="controls"></div>
		<div class="slideshow-container">
			<div id="loading" class="loader"></div>

			<div id="slideshow" class="slideshow"></div>
		</div>
		<div id="caption" class="caption-container"></div>
	</div>
	<div id="thumbs" class="navigation">
		<ul class="thumbs noscript">
			<li>
				<div class="caption">
					<div class="image-title">Желтый 2-х местный номер</div>

					<div class="image-desc"></div>
				</div>							<a class="thumb" name="leaf" href="../img/kacha1.png" title="Желтый 2-х местный номер">
					<img src="../img/kacha1.png" alt="Желтый 2-х местный номер"style="max-height:100px; max-width:100px;"/> </a>
				
		  	</li>
		  	<li>
				<a class="thumb" name="bigleaf" href="../img/nomer1.jpg" title="2-х местный номер">
					<img src="../img/nomer1.jpg" alt="2-х местный номер" style="max-height:100px; max-width:100px;" />
		
				</a>
				<div class="caption">
					<div class="image-title">Розовый 2-х местный номер</div>
					<div class="image-desc"></div>
				</div>
			</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/nomer_pink.jpg" title="2-х местный номер">
					<img src="../img/nomer_pink.jpg" alt="2-х местный номер" style="max-height:100px; max-width:100px;" />

				</a>
				<div class="caption">
					<div class="image-title">Розовый 2-х местный номер</div>
					<div class="image-desc"></div>
				</div>
			</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/nomer_green.jpg" title="Зеленый номер">
					<img src="../img/nomer_green.jpg" alt="Зеленый номер" style="max-height:100px; max-width:100px;" />

				</a>
				<div class="caption">
					<div class="image-title">Зеленый номер</div>
					<div class="image-desc"></div>
				</div>
			</li>
            <li>
				<a class="thumb" name="bigleaf" href="../img/nomer1_vanna.jpg" title="2-х местный номер душевая">

					<img src="../img/nomer1_vanna.jpg" alt="2-х местный номер душевая" style="max-height:75px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">2-х местный номер душевая</div>
					<div class="image-desc"></div>
				</div>
			</li>
			<li>

				<a class="thumb" name="bigleaf" href="../img/nomer2_vanna.jpg" title="2-х местный номер душевая">
					<img src="../img/nomer2_vanna.jpg" alt="2-х местный номер душевая" style="max-height:75px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">2-х местный номер душевая</div>
					<div class="image-desc"></div>
				</div>
			</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/nomer_vanna_2.jpg" title="2-х местный номер душевая">
					<img src="../img/nomer_vanna_2.jpg" alt="2-х местный номер душевая" style="max-height:75px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">Отдельный блок номер душевая</div>
					<div class="image-desc"></div>
				</div>
			</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/seif.jpg" title="Сейф в номере">
					<img src="../img/seif.jpg" alt="Сейф в номере" style="max-height:100px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">Каждый номер оборудован сейфом</div>
					<div class="image-desc"></div>
				</div>

			</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/kuhnya.jpg" title="Кухня">
					<img src="../img/kuhnya.jpg" alt="Кухня" style="max-height:100px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">Кухня</div>
					<div class="image-desc"></div>

				</div>
			</li> 
			<li>
				<a class="thumb" name="bigleaf" href="../img/balkon.jpg" title="Балкон 2-го этажа">
					<img src="../img/balkon.jpg" alt="Балкон 2-го этажа" style="max-height:100px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">Балкон 2-го этажа</div>
					<div class="image-desc"></div>

				</div>
			</li>
			<li>
				<a class="thumb" name="drop" href="../img/kacha2.png" title="Title #1">
					<img src="../img/kacha2.png" style="max-height:75px; max-width:100px;"/>	</a>
				<div class="caption">
					<div class="image-title">Пляж Кача</div>
					<div class="image-desc"></div>

				</div>
		    </li>
            <li>
				<div class="caption">
					<div class="image-title">Кача</div>
					<div class="image-desc"></div>
				</div>
				<a class="thumb" name="leaf" href="../img/kacha.png" title="Кача">

					<img src="../img/kacha.png" alt="Кача"style="max-height:100px; max-width:100px;"/> </a>
				
		  	</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/kacha3.png" title="Title #2">
					<img src="../img/kacha3.png" alt="Title #2" style="max-height:100px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">Пляж Орловка</div>

					<div class="image-desc"></div>
				</div>
			</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/kacha4.png" title="Title #2">
					<img src="../img/kacha4.png" alt="Title #2" style="max-height:100px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">Зона отдыха</div>

					<div class="image-desc"></div>
				</div>
			</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/sev1.png" title="Title #2">
					<img src="../img/sev1.png" alt="Title #2" style="max-height:100px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">Севастополь</div>

					<div class="image-desc"></div>
				</div>
			</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/sev2.png" title="Title #2">
					<img src="../img/sev2.png" alt="Title #2" style="max-height:100px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">Севастополь</div>

					<div class="image-desc"></div>
				</div>
			</li>
			<li>
				<a class="thumb" name="bigleaf" href="../img/sev3.png" title="Title #2">
					<img src="../img/sev3.png" alt="Title #2" style="max-height:100px; max-width:100px;" />
				</a>
				<div class="caption">
					<div class="image-title">Севастополь</div>

					<div class="image-desc"></div>
				</div>
			</li>
		</ul>
	</div>
	<div style="clear: both;"></div>
</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
	// We only want these styles applied when javascript is enabled
	$('div.navigation').css({'width' : '640px',});// ?????? PreView ?????
	$('div.content').css('display', 'block');

	// Initially set opacity on thumbs and add
	// additional styling for hover effect on thumbs
	var onMouseOutOpacity = 0.67;
	$('#thumbs ul.thumbs li').opacityrollover({
		mouseOutOpacity:   onMouseOutOpacity,
		mouseOverOpacity:  1.0,
		fadeSpeed:         'fast',
		exemptionSelector: '.selected'
	});
	
	// Initialize Advanced Galleriffic Gallery
	var gallery = $('#thumbs').galleriffic({
		delay:                     2500,
		numThumbs:                 15,
		preloadAhead:              10,
		enableTopPager:            true,
		enableBottomPager:         true,
		maxPagesToShow:            11,
		imageContainerSel:         '#slideshow',
		controlsContainerSel:      '#controls',
		captionContainerSel:       '#caption',
		loadingContainerSel:       '#loading',
		renderSSControls:          true,
		renderNavControls:         true,
		playLinkText:              'Слайд шоу',
		pauseLinkText:             'Пауза',
		prevLinkText:              '',
		nextLinkText:              '',
		nextPageLinkText:          'Вперед &rsaquo;',
		prevPageLinkText:          '&lsaquo; Prev',
		enableHistory:             false,
		autoStart:                 true,
		syncTransitions:           true,
		defaultTransitionDuration: 900,
		onSlideChange:             function(prevIndex, nextIndex) {
			// 'this' refers to the gallery, which is an extension of $('#thumbs')
			this.find('ul.thumbs').children()
				.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
				.eq(nextIndex).fadeTo('fast', 1.0);
		},
		onPageTransitionOut:       function(callback) {
			this.fadeTo('fast', 0.0, callback);
		},
		onPageTransitionIn:        function() {
			this.fadeTo('fast', 1.0);
		}
	});
});
</script>
