		<div class="side_element">
			<div id="valuta">
					<a href="http://www.ukrbanks.info/" target="_blank" alt="Банки Украины - новости банков, курсы валют, рейтинг банков Украины!"><img src="http://www.ukrbanks.info/informer/nbu/top-nbu.gif" width="100" height="80" border="0" alt="Курсы НБУ на сегодня"></a>
				</div>
			</div>
			<div class="side_element"> 
				<div id="meteoprog_1306179145">
					<div id="meteoprogc_1306179145_Sevastopol" class="meteoprogc_1306179145 last" style="display:none">
						<div class="r1">
							<div class="fh item1"><a target="_blank" title='Погода в  Севастополе' href="http://www.meteoprog.ua/ru/weather/Sevastopol/">Погода в <br />Севастополе</a></div>
							
							<div class="fr item3"><a target="_blank" title='Погода в  Севастополе' href="http://www.meteoprog.ua/ru/weather/Sevastopol/"><img id="meteoprogc_1306179145_Sevastopol_icon" height="37" border="0" src="" /></a></div>
							<div class="fr item2"><a target="_blank" title='Погода в  Севастополе' href="http://www.meteoprog.ua/ru/weather/Sevastopol/"><span><span id="meteoprogc_1306179145_Sevastopol_temp"></span>&deg;C</span></a></div>
							<div class="cl"></div>
						</div>
						
						<a target="_blank" title='Погода в  Севастополе' href="http://www.meteoprog.ua/ru/weather/Sevastopol/">
						<div class="r2">
							<div class="fh item1"><span class="lbl">Давление</span><p><span id="meteoprogc_1306179145_Sevastopol_press"></span> мм рт.ст.</p></div>
							<div class="fh item2"><span class="lbl">Влажность</span><p><span id="meteoprogc_1306179145_Sevastopol_hum"></span>%</p></div>
							<div class="fh item3"><span class="lbl">Ветер</span><p><span id="meteoprogc_1306179145_Sevastopol_wshort"></span>, <span id="meteoprogc_1306179145_Sevastopol_wspeed"></span> м/с</p></div>
							<div class="cl"></div>
						</div>
						</a>
					</div>
					<div id="meteoprog_1306179145_links">
						<div class="logo">
							<a target="_blank" title='Погода в  Севастополе' href="http://www.meteoprog.ua/"><img border="0" src="http://www.meteoprog.ua/images/text_informers/39/meteoprog.png" alt="" /></a>
						</div>
						<div class="weather">
							<span class="lbl">Погода на:</span>
							<p>
								<a target="_blank" href="http://www.meteoprog.ua/ru/weather/Sevastopol/">Завтра</a>
								<a target="_blank" href="http://www.meteoprog.ua/ru/weather/Sevastopol/6_10/">7 дней</a>
								<a target="_blank" href="http://www.meteoprog.ua/ru/review/Sevastopol/11_15/">15 дней</a>
							</p>
						</div>
						<div class="cl"></div>
					</div>
				</div>
				<script type='text/javascript'>
				  //<![CDATA[
				    var meteoprog_widget = {
				      name: '/ru/informerget/?type=39&city[]=Sevastopol&color=FFFDF9&txtcolor=000000&day=today&weather=1&wid=1306179145',
				      type:39    }
				  //]]>
				</script>
				<script src='http://www.meteoprog.ua/informers/?id=1306179145' type='text/javascript'></script>
			</div>	
